:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --primary-white-color: #ffffff;
    --accent-color: #2196F3;
    --secondary-font-family: "Raleway", sans-serif;
    --primary-font-family: "Roboto", sans-serif;

}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
 font-family: var(--primary-font-family);
 color: var(--primary-text-color);
 background-color: var(--primay-white-color);
 font-size: 14px;
 letter-spacing: 0.03em;
}

.link  { 
    list-style: none;
    padding-left: 0;
    margin: 0;
    text-decoration: none;
}

.list { 
    list-style: none;
    padding-left: 0;
    margin: 0;
    padding: 0px;
}

.section {
    padding: 94px 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    
}

h1, h2, h3, h4, h5, h6, p { 
    margin-top: 0;
    margin-bottom: 0px;
}

.img { 
    display: block;
    max-width: 100%;
    height: auto;
}

.adress { 
    font-style: normal;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.hero-title {
font-size: 36px;
line-height: 1.16;
text-align: center;
color: var(--secondary-text-color);

}

.section-title {
font-size: 36px;
line-height: 1.16;
text-align: center;
color: var(--secondary-text-color);

}

/* logo webstudio */
.logo {
font-family: var(--secondary-font-family);    
font-size: 26px;
line-height: 1.19;
color: var(--secondary-text-color);
font-weight: 700;
}

.logo.link {
    margin-right: 93px;
    
}

.accent { 
    color: var(--accent-color);
}

/* ссылки студия,портфолио,контакты,*/

.nav-link,
.contact-link {
padding-top: 32px;
padding-bottom: 32px;
display: block;

font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--secondary-text-color);

transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus,
.current {
color: var(--accent-color);
}

.nav-link.current {
    position: relative;
}

.nav-link.current::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
    display: block;
    bottom: 0px;
}



.header-item:not(:last-child) {
    margin-right: 50px;
}

.header-nav.main {
    display: flex;
    align-items: center;
}

.nav-list,
.contacts-list {
    display: flex;
align-items: center;
}

.contacts-list {
    margin-left: auto;
}

.header .container {
    display: flex;
    align-items: center;

}



/* емейл,телефон */

.contact-link {
color: var(--primary-text-color);
display: flex;
align-items: center;
}



.header-item .list {
    padding: 0px;
    margin-left: 0px;
}

.header-icon {
    fill: currentColor;
    margin-right: 10px;
}



/* button hero*/

.button {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    border: 1px solid transparent;
    align-items: center;
    margin-bottom: 20px;
    background: var(--accent-color);
    color: var(--primary-white-color);
    cursor: pointer;
    letter-spacing: 0.06em;
    font-size: 16px;
    line-height: 1.88;

}

/* HERO */

.hero {
    background: #2F303A;
    text-align: center;
    padding: 200px 0px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/people1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto;
}



.hero-title {
margin-top: 0px;
margin-bottom: 30px;
text-transform: uppercase;

max-width: 650px;
margin-left: auto;
margin-right: auto;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
color: #ffffff;
}

/* секция  about */


.about-subtitle {
    margin-bottom: 10px;
margin-top: 0px;

font-size: 14px;
line-height: 1.14;
color: var(--secondary-text-color);
font-weight: 700;
text-transform: uppercase;
}

.about-list {
    
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-description {
   line-height: 1.71;
}

.about-item {
   width: 270px;
 
}

.about-soc-list {
    width: 100%;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}


/* work */

.work {
  padding-top: 0px;
  }

.section-title {

    margin-bottom: 50px;
    
}

.work-list {
    align-items: center;
    justify-content: space-between;


}  
/*-------- */
.work-fon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work-item {
position: relative;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
color: #FFFFFF;
}

.work-text {
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background: rgba(47, 48, 58, 0.8);
}
/* ------ */


/* секция наша команда */

.team {
    margin-top: 0px;
    margin-bottom: 0px;

    background: #F5F4FA;
}

.team-section {
    margin-top: 0px;
    margin-bottom: 50px;
}

.team-subtitle {
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
font-weight: 500;
margin-bottom: 10px;


color: var(--secondary-text-color)
}


.team-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.team-item {
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.thumb{
    padding: 30px 32px;
    text-align: center;
}

.team-soc-list {
    display: flex;
    justify-content: center;

}

.team-soc-item {
    width: 44px;
    height: 44px;
    margin-top: 16px;
    
}

.team-soc-item + .team-soc-item {
    margin-left: 10px;

}

.team-soc-link {
    width: 100%;
    height: 100%;
    background-color:FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.team-soc-icon {
    fill: #AFB1B8;
}

.team-soc-link:hover {
background-color: var(--accent-color);

}

.team-soc-link:hover .team-soc-icon {
fill: #F5F4FA;
}

/* customers */

.customers {
    margin-top: 0px;
    margin-bottom: 0px;

    background-color: var(--primary-white-color)

   
}

.customers-list-item {
    width: 170px;
    height: 92px;

     
}


.customers-list-item + .customers-list-item{
margin-left: 30px;

}

.customers-list-link {
width: 100%;
height: 100%;
background-color: #FFFFFF;;
display: flex;
align-items: center;
justify-content: center;
border: 1px solid #AFB1B8;
border-radius: 4px;

}

.customers-list-item:hover {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
}

.customers-list-item:hover .customers-list-icon {
    fill: var(--accent-color);
}

.customers-list-icon {
    fill:  #AFB1B8;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.customers-list{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* footer */

.footer {
background: #2F303A;


}

.footer-container {
    margin: auto;
    width: 1200px;
    padding: 60px 15px;
}

.adress-item {
    margin-bottom: 9px;
}

.footer .logo {
color: var(--primary-white-color);
margin-right: 0px;
margin-bottom: 20px;
display: block;

}

.adress-link {
font-size: 14px;
line-height: 1.71;
color: var(--primary-white-color);
}



.footer-item:not(:last-child){
    margin-bottom: 10px;
}



.footer .contact-link {
color:rgba(255, 255, 255, 0.6);
font-weight: 400;
line-height: 1.71;
padding: 0px;
}


.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus,
.current {
    color: var(--accent-color);
}


.footer-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    

}

.footer-soc {
    margin-left: 70px;
}

.footer-title {
    color: #ffffff;
    margin-bottom: 20px;
    justify-content:center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.footer-soc-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.footer-soc-item {
    width: 44px;
    height: 44px;
    margin-top: 20px;
    border-radius: 50%;
    background-color:#3d3939;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-item + .footer-soc-item {
    margin-left: 10px;

}

.footer-soc-link {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.footer-soc-item:hover {
    background-color: var(--accent-color);
}

.footer-soc-item:hover .footer-soc-icon {
    fill: #F5F4FA;
    }


    /* форма футер */

.footer-mailing {
 margin-left: 93px;
 }    

.form-footer {
    display: flex;
    align-items: center;
}

.footer-maling-par {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
padding-bottom: 20px;
margin-bottom: 10px;
}

.footer-button-icon {
width: 24px;
height: 24px;
fill: #ffffff;
margin-left: 10px;
}

.footer-input {
margin-right: 10px;
width: 358px;
height: 50px;
box-sizing: border-box;
font-size: 16px;
line-height: 1.25;
padding-left: 16px;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background: #2F303A;
}

.footer-but {
display: flex;
align-items: center;
justify-content: center;
width: 200px;
height: 50px;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: #2196F3;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color: #FFFFFF;
}
                  /* ПОРТФОЛИО */

.portfolio-btn {

font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.62;


background-color: #F5F4FA;
border-radius: 4px;

color: var(--secondary-text-color);
cursor: pointer;
border: none;
padding: 6px 22px;

transition-property: background-color, color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn.current {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

.portfolio-item:not(:last-child){
    margin-right: 8px;
}



.btn-list {
    display: flex;
    justify-content: center;
    padding: 20px;
    
}

img{
    display: block;
    
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
    }

.card-item {
    margin-right: 30px;
    margin-bottom: 30px;
    width: 370px;
    width: calc((100% - 90px) / 3);
    background-color: #ffffff;

    transition-property:  box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    }

.card-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
    }

    /* анимация карточек */

    .card-top {
       position: relative;
       overflow: hidden;
       
    }

    .card-top:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

.card-top-text {
    position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
font-size: 18px;
line-height: 1.56;
color: var(--primary-white-color);
padding: 63px 24px;
background: rgba(33, 150, 243, 0.9);
transform: translateY(100%);
transition: 250ms;

}

.card-item:hover .card-top-text {
    transform: translate(0);
}

    /* -------- */

    .thumbs {
    padding: 20px 24px;
    text-align: left;
    width: 370px;
    border-left:  1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE; 
    border-bottom:  1px solid #EEEEEE;
    }

.card-title {
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 0px;
    

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
}

.card-desc {
    margin-top: 4px;
    margin-bottom: 0px;
    padding: 0px;

    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-text-color);
}


/* M O D A L */

.backdrop {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 320ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    padding: 40px;
position: absolute;
top: 50%;
left: 50%;
width: 528px;
min-height: 581px;
background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
transform: translate(-50%, -50%) scale(1);
}

.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
}

.modal-button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

.modal-button-icon:hover {
    fill: var(--accent-color);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

               /* НАПОЛНЕНИЕ МОДАЛКИ */

.modal-title {
    margin-bottom: 12px;
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color: #212121;

}    

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 41px;
    font-size: 12px;
    cursor: pointer;
    outline: none;
   
}

.modal-input:focus, 
.modal-input:hover {
    border-color: var(--accent-color);
   
}

.modal-input:focus+ .modal-icon, 
.modal-input:hover+ .modal-icon {
    fill: var(--accent-color);
    
}
.modal-field {
    margin-bottom: 10px;
}


.modal-lable {
font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
color: #757575;
display: block;
margin-bottom: 4px;

}



.modal-text {
    width: 100%;
    height: 138px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px;
    font-size: 12px;
    resize: none;
    cursor: pointer;
    outline: none;
  
    
}

.modal-text:hover,
.modal-text:focus{
    border: 1px solid #2196F3;
}


.modal-field-wrap {
    position: relative;
}

.modal-icon {
    position: absolute;
    left: 11px;
    top: 50%;
    transform: translateY(-50%);
   
    
}

.check-text {
    display: flex;
    align-items: center;
   
}

.check-icon {
    fill: transparent;
 
}

.check-text span {
   
    margin-left: 13px;
    width: 16px;
height: 15px;
border: 2px solid #212121;
border-radius: 2px;
margin-right: 7px;
display: flex;
align-items: center;
justify-content: center;

}

.modal-check:checked + .check-text span {
    background-color: var(--accent-color);
    border: none;
}

.modal-check:checked + .check-text .check-icon {
    fill: var(--primary-white-color);
}

.condition {
position: relative;
margin-right: 8px;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;

}

.conditionals {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--accent-color)
}




.send-button {
    position: absolute;
    transform: translateX(60%) translateY(25%);
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    height: 50px;
    border: 1px solid transparent;
    align-items: center;
    background: var(--accent-color);
    color: var(--primary-white-color);
    letter-spacing: 0.06em;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
}

