.footer {
    background: #2F303A;
    
}
    
.footer-container {
    margin: auto;
width: 1200px;
padding: 60px 15px;
}
    
.adress__item {
    margin-bottom: 9px;
}
    
.footer .logo {
color: var(--primary-white-color);
margin-right: 0px;
margin-bottom: 20px;
display: block;
    
}
    
.footer-adress__link {
font-size: 14px;
line-height: 1.71;
color: var(--primary-white-color);
}
    
    
    
.footer-item:not(:last-child){
margin-bottom: 10px;
}
    
    
    
.contact__link{
color:rgba(255, 255, 255, 0.6);
font-weight: 400;
line-height: 1.71;
padding: 0px;

&:hover,
&:focus,
.current {
    color: var(--accent-color);
}
}

    
.footer-container {
    display: flex;
flex-direction: row;
align-items: baseline;

}
    
.footer-soc {
 margin-left: 70px;
}
    
.soc__title {
    color: #ffffff;
 margin-bottom: 20px;
justify-content:center;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
    
}
    
.footer-soc__list {
    display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;
}
    
.footer-soc__item {
    width: 44px;
height: 44px;
margin-top: 10px;
border-radius: 50%;
background-color:#3d3939;
display: flex;
justify-content: center;
align-items: center;
padding: 20px;
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

& + & {
    margin-left: 10px;
    }
&:hover {
    background-color: var(--accent-color);
    }
}

    
.footer-soc__link {
    width: 20px;
height: 20px;
fill: #FFFFFF;
display: flex;
justify-content: center;
align-items: center;
}
    
.footer-soc__item:hover .footer-soc__icon {
    fill: #F5F4FA;
    }
    