.logo {
    font-family: var(--secondary-font-family);    
    font-size: 26px;
    line-height: 1.19;
    color: var(--secondary-text-color);
    font-weight: 700;
    }
    
.head__logo {
 margin-right: 93px;
    }
    
.head__accent { 
 color: var(--accent-color);
    }